.container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    border-bottom: 1px solid black;

    >:nth-child(1) {
        margin-right: 20px;
        white-space: normal;
        overflow-wrap: break-word;
        width: 10%;
    }
}