#header-section {
    text-align: center;
    position: relative;

    @media (max-width: 768px) {
        .username {
            display: none !important;
        }
    }

    .username {
        position: absolute;
        right: 20px;
        top: 0;
        align-items: center;

        .log-in-button,
        .log-out-button {
            width: fit-content;
            cursor: pointer;
            margin-right: 20px;
        }
    }

    .new-log-button {
        width: fit-content;
        position: absolute;
        top: 0;
        left: 20px;
        cursor: pointer;
    }
}