.log-container {
    padding: 0 20px 20px 20px;
    border: 1px solid black;
    margin-bottom: 20px;

    .content {
        margin-top: 20px;
        background-color: lightgray;
    }

    .comment-header {
        position: relative;

        .new-commment-button {
            border: 1px solid black;
            padding: 5px;
            width: fit-content;
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;

            &.hidden {
                display: none;
            }
        }
    }

    .comment-container {
        overflow: scroll;
        transition: opacity 0.3s ease, max-height 0.3s ease;
        opacity: 1;
        

        // &.hidden {
        //     opacity: 0;
        //     max-height: 0;
        //     pointer-events: none;
        // }
    }

    .new-comment-input-container {
        display: flex;
        flex-direction: row;
        height: 30px;
        justify-content: space-between;

        &.hidden {
            display: none;
        }

        .new-comment-input {
            width: 80%;

            &-button {
                border: 1px solid black;
                padding: 5px;
                width: fit-content;
                cursor: pointer;
            }
        }
    }
}